*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}
#container{
  background-color:red;
  padding:20px;
  display:flex;
  flex-wrap:wrap;
  justify-content:center;
}
#container div{
  margin:20px;
  height:100px;
  width:100px;
  background-color:blue;
}